<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow/Return History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<style>
  .table-wrapper {
  overflow-x: auto;
  width: 100%;
}

table {
  min-width: 600px; /* triggers horizontal scroll on small screens */
}

</style>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="flash-message {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<h1 style="color: #ffffff; text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);"><i style="font-size: 25px; margin-right: 20px;" class="fa-solid fa-book-open"></i>Borrow & Return History</h1>

<h2 style="display: flex; align-items: center; justify-content: center; gap: 10px;">
    <i class="fas fa-arrow-right-from-bracket" style="font-size: 20px;"></i> Borrowed Books
  </h2> 
  <div class="table-wrapper"> 
    <table>
        <tr>
            <th>ID</th>
            <th>Book</th>
            <th>Borrower</th>
            <th>Date</th>
        </tr>
        {% for row in borrowed %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.book_name }}</td>
            <td>{{ row.borrower_name }}</td>
            <td>{{ row.borrow_date }}</td>
        </tr>
        {% endfor %}
    </table>
  </div>

    <h2 style="display: flex; align-items: center; justify-content: center; gap: 10px;">
        <i class="fas fa-upload" style="font-size: 20px;"></i> Returned Books
      </h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Book</th>
            <th>Returner</th>
            <th>Date</th>
        </tr>
        {% for row in returned %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.book_name }}</td>
            <td>{{ row.returner_name }}</td>
            <td>{{ row.return_date }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{{ url_for('home') }}" class="btn back">← Back to Home</a>
</body>
</html>