<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Return Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<style>
  p{
    color: #dcdcdc;
    font-size: 16px;
    font-weight:600;
    margin-top: 20px;
  }
p strong{
  color: #00bcd4;
  font-weight: 600;
}
</style>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="flash-message {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    <h1>📤 Return Book</h1>
    <p><strong>Book:</strong> {{ book.book_name }} by {{ book.author_name }}</p>
    <form method="POST">
        <input type="text" name="name" placeholder="Your Name" required>
        <button type="submit" class="btn">Return</button>
        <a href="{{ url_for('home') }}" class="btn back">← Back</a>
    </form>
</body>
</html>