<html>
<head>
    <title>Update Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="flash-message {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    <h1>✏️ Update Book</h1>
    <form method="POST">
        <input type="text" name="author" value="{{ book.author_name }}" required>
        <input type="text" name="name" value="{{ book.book_name }}" required>
        <input type="text" name="category" value="{{ book.category }}" required>
        <button type="submit" class="btn">Update</button>
        <a href="{{ url_for('home') }}" class="btn back">← Back</a>
    </form>
</body>
</html>